/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
  background-color:#87CEFA;
  }


/* CSS */
.Portfolio {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff4136;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  left: 470px;
  top: 150px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Portfolio:active {
  box-shadow: 0px 0px 0px 0px;
  top: 150px;
  left: 470px;
}

@media (min-width: 768px) {
  .Portfolio {
    padding: 0.25em 0.75em;
  }
}

.Portfolio:hover {
    background: #ff4136;
    color: white;
    font-size: 50px;
    font-family: font-family: "Open Sans", sans-serif;
    position: relative;
    left: 470px;
    top: 150px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    width: 200px;
    border-radius: 12px;
  }







.Coursework {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff4136;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  left: 40px;
  top: 300px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Coursework:active {
  box-shadow: 0px 0px 0px 0px;
  top: 300px;
  left: 40px;
}

@media (min-width: 768px) {
  .Coursework {
    padding: 0.25em 0.75em;
  }
}

.Coursework:hover {
  background: #ff4136;
  color: white;
  font-size: 50px;
  font-family: font-family: "Open Sans", sans-serif;
  position: relative;
  left: 40px;
  top: 300px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  width: 200px;
  border-radius: 12px;
}






/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto Condensed', 'Regular 400';
    text-align: center;
}
    
.work{
    margin: auto;
    max-width: 800px;
   
    background-color: rgb(168, 161, 153);
}



